body{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    
}

#principal{
    width: 1024px;
    margin: 20px auto;
    border-top: 50px solid rgb(6, 6, 6);
}

.header-top{
    height: 50px;
    background-color: #162028;
    position: relative;
}


.background-principal{
    width: 100%;
}

.header-nav{
    position: absolute;
    top: -93%;
    right: 0;
    height: 100%;

}

.header-nav ul{
    margin: 0;
    padding: 0;
}

.header-nav li{
    list-style: none;
    display: inline-block;
    letter-spacing: 5px;
    margin: 0 15px 0 0;
    padding: 14px;

    
}

.header-nav a{
    text-decoration: none;
    color: #425564;
    text-transform: uppercase;
    font-size: 12px;
}

.header-nav ul a:hover{
    color:rgb(207, 208, 209);
    transition: color .3s linear;
}

.logotipo{
    width: 20%;
    position:relative;
    top: -100px;
    padding: 0;
}

#conteudo h1{
    font-size: 20px;
}